@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
}

.remove-corner-flicker-on-hover {
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
